.gallery{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.lightbox{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(61, 50, 50);
  top: 0;
  left: 0;
  cursor: pointer
}

.lightbox.show{
  display: flex;
}
header{
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-shadow: 0px 2px 20px black; 
}
#close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10; 
}

.gallery-item{
  padding: 50px;
  width: 400px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.gallery-item:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  border: grey;
  box-shadow: 2px 5px 6px black;
}