.item-list {
    margin-left: 20px;
}

.items {
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid;
    background-image: linear-gradient(to left, #78ffd6, #a1ffce);
}

.favorite-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-left: 50px;
    transition: transform 0.2s;
    font-size: 24px;
}

.filled{
    color: red;
    transform: scale(1.2);
}